# Global values shared by all subcharts
global:
  environment: preview
  security:
    allowInsecureImages: true

# Enable/disable subcharts
postgres:
  enabled: true
web:
  enabled: true
api:
  enabled: true
crons:
  enabled: true

# Web application configuration
expressjs-monorepo-template-web:
  nodejs:
    image: "hmctspublic.azurecr.io/dtsse/expressjs-monorepo-template-web:${WEB_IMAGE}"
    ingressHost: "${TEAM_NAME}-{{ .Release.Name }}-web.preview.platform.hmcts.net"
    environment:
      REDIS_URL: "redis://{{ .Release.Name }}-redis-master:6379"
      POSTGRES_DATABASE: "{{ .Release.Name }}"
    secrets:
      POSTGRES_HOST:
        secretRef: postgres
        key: HOST
      POSTGRES_USER:
        secretRef: postgres
        key: USER
      POSTGRES_PASSWORD:
        secretRef: postgres
        key: PASSWORD
      POSTGRES_PORT:
        secretRef: postgres
        key: PORT

# API application configuration
expressjs-monorepo-template-api:
  nodejs:
    image: "hmctspublic.azurecr.io/dtsse/expressjs-monorepo-template-api:${API_IMAGE}"
    ingressHost: "${TEAM_NAME}-{{ .Release.Name }}-api.preview.platform.hmcts.net"

# Crons application configuration
expressjs-monorepo-template-crons:
  job:
    image: "hmctspublic.azurecr.io/dtsse/expressjs-monorepo-template-crons:${CRONS_IMAGE}"
    schedule: "*/5 * * * *"  # Every 5 minutes
    suspend: false
    kind: CronJob

# Postgres Prisma Studio service configuration
expressjs-monorepo-template-postgres:
  nodejs:
    image: "hmctspublic.azurecr.io/dtsse/expressjs-monorepo-template-postgres:${POSTGRES_IMAGE}"
    ingressHost: "${TEAM_NAME}-{{ .Release.Name }}-postgres.preview.platform.hmcts.net"
    environment:
      POSTGRES_DATABASE: "{{ .Release.Name }}"
    secrets:
      POSTGRES_HOST:
        secretRef: postgres
        key: HOST
      POSTGRES_USER:
        secretRef: postgres
        key: USER
      POSTGRES_PASSWORD:
        secretRef: postgres
        key: PASSWORD
      POSTGRES_PORT:
        secretRef: postgres
        key: PORT
    livenessProbe:
      tcpSocket:
        port: 5555
      initialDelaySeconds: 60
      periodSeconds: 30
    readinessProbe:
      tcpSocket:
        port: 5555
      initialDelaySeconds: 30
      periodSeconds: 10

# PostgreSQL database configuration
postgresql:
  enabled: true
  flexibleserver: dtsse-preview
  setup:
    databases:
      - name: "{{ .Release.Name }}"

# Redis cache configuration
redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false
  master:
    persistence:
      enabled: false
  replica:
    replicaCount: 0
  image:
    registry: hmctspublic.azurecr.io
    repository: imported/bitnami/redis
