name: E2E Stage

on:
  workflow_call:
    inputs:
      preview-urls:
        required: true
        type: string
        description: "Base64-encoded JSON of preview URLs"

jobs:
  e2e-test:
    name: E2E Tests
    uses: ./.github/workflows/jobs/e2e-test/e2e-test-job.yml
    with:
      preview-urls: ${{ inputs.preview-urls }}
    secrets: inherit
