{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "/cookies",
        text: footer.cookies
      },
      {
        href: "/footer/privacy-policy",
        text: footer.privacyPolicy
      },
      {
        href: "/footer/accessibility-statement",
        text: footer.accessibility
      },
      {
        href: "/footer/terms-and-conditions",
        text: footer.termsAndConditions
      },
      {
        href: "/footer/contact-us",
        text: footer.contactUs
      }
    ]
  }
}) }}