name: Smoke Test Stage

on:
  workflow_call:
    inputs:
      preview-urls:
        required: true
        type: string
        description: "Base64-encoded JSON of preview URLs"

jobs:
  pr-comment:
    name: PR Comment
    uses: ./.github/workflows/_job-pr-comment.yml
    with:
      preview-urls: ${{ inputs.preview-urls }}

  smoke-test:
    name: Smoke Test
    uses: ./.github/workflows/_job-smoke-test.yml
    with:
      preview-urls: ${{ inputs.preview-urls }}
