name: Preview

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master

concurrency:
  group: preview-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  detect-code-changes:
    name: Detect Code Changes
    uses: ./.github/workflows/job.detect-changes.yml
    with:
      paths: "^(yarn\\.lock|apps/|libs/)"

  detect-infra-changes:
    name: Detect Infrastructure Changes
    uses: ./.github/workflows/job.detect-changes.yml
    with:
      paths: "^infrastructure/"

  build-stage:
    name: Build
    needs: [detect-code-changes]
    if: needs.detect-code-changes.outputs.has-changes == 'true'
    uses: ./.github/workflows/stage.build.yml
    with:
      change-id: ${{ github.event.pull_request.number }}
    secrets: inherit

  infrastructure-stage:
    name: Infrastructure
    needs: [detect-infra-changes]
    if: needs.detect-infra-changes.outputs.has-changes == 'true'
    uses: ./.github/workflows/stage.infrastructure.yml
    with:
      plan-only: true
    secrets: inherit

  deploy-stage:
    name: Deploy
    needs: [build-stage, infrastructure-stage]
    if: always() && needs.build-stage.result == 'success' && needs.infrastructure-stage.result != 'failure'
    uses: ./.github/workflows/stage.deploy.yml
    with:
      change-id: ${{ github.event.pull_request.number }}
      timestamp: ${{ needs.build-stage.outputs.timestamp }}
      short-sha: ${{ needs.build-stage.outputs.short-sha }}
      affected-apps: ${{ needs.build-stage.outputs.affected-apps }}
      helm-apps: ${{ needs.build-stage.outputs.helm-apps }}
    secrets: inherit

  smoke-test-stage:
    name: Smoke Test
    needs: [deploy-stage]
    if: needs.deploy-stage.result == 'success'
    uses: ./.github/workflows/stage.smoke-test.yml
    with:
      change-id: ${{ github.event.pull_request.number }}
      preview-urls: ${{ needs.deploy-stage.outputs.urls }}

  e2e-stage:
    name: E2E
    needs: [smoke-test-stage, deploy-stage]
    if: needs.deploy-stage.result == 'success'
    uses: ./.github/workflows/stage.e2e.yml
    with:
      preview-urls: ${{ needs.deploy-stage.outputs.urls }}
    secrets: inherit
